<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/forumStyle.css">
</head>
<body>

    <!--Navbar code copy paste-->


    <!--List container-->
    <div class="query-list">

        <!--Button-->
        <a id="ask-btn" href="/forum/create">ASK YOUR QUESTION</a>
        
        <!--Forum List-->
        <ul>
            <% questions.forEach(function(question){%>
                <!-- Query List Item -->

            <li class="query"> 
                
                <!-- Query top -->
                <div class="query-top">
                    <span class="query-name"><%=question.title%></span>
                    <span class="query-time">Posted on : <%=question.queryTime%></span>     
                    <span class="query-votes"> <button><i class="fas fa-sort-up"></i></button> <%=question.likes%> Votes <button><i class="fas fa-sort-down"></i></button></span>
                </div>
                
                <!-- Query Description -->
                <div class="query-desc">
                    <%=question.body%>
                </div>
                
                <!-- Query Tags -->
                <div class="query-tags">
                    <%=question.tags%>
                </div>
                <div>
                    <a href="/forum/view/<%=question._id%>" >View</a>
                </div>
                <div>
                    <a href="/forum/view/<%=question._id%>" >Answer</a>
                </div>
                
            </li>
       
            <%})%>
            

            <!-- Query List Item -->
           
            
        </ul>
        
    </div>

    <!--Search and Icon container-->
    <div class="forum-search">

        <div class="search-div">
            <input type="text" name="search-query" id="search-query" placeholder="Search by query-tags">
            <i class="fas fa-search" id="search-icon"></i>
        </div>
       
        <img src="/images/query.png" alt="Image could not be fetched" id="search-img">

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script.js"></script> 
</body>
</html>