<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/23068c81bc.js" crossorigin="anonymous"></script> 
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2 class="main_points" style="margin-bottom: 10px;">My Profile</h2>
        <section class="container">
            <div class="left">
                <div class="user">
                    <img id="profile_img" src="<%=user.img%>">

                    <hr>
                    <h2 class="main_points"><%=user.name%></h2>
                    <h4 class="sub_points"><i class="fas fa-map-marker-alt"></i> <%=user.location%></h4>
                    <h4 class="sub_points"><%=user.email%></h4>
                    <h4 class="sub_points"><%=user.description%></h4>
                    <div style="margin: 5px 0px;">
                        <a class="edit_profile" style="background-color: #ECECFD;" href="/user/edit-profile">Edit Profile</a>
                    </div>
                </div>

                <div class="badges">
                    <h4 class="main_points">Badges</h4>
                    <hr>
                    <div class="badge_container" style="width: 240px; height: 150px;">
                        
                        <span style="font-size: 30px; color: Dodgerblue; margin: 10px;">
                            <i class="fas fa-medal"></i>
                          </span>
                          <span style="font-size: 30px; color: Dodgerblue;margin: 10px;">
                            <i class="fas fa-medal"></i>
                          </span>
                          <span style="font-size: 30px; color: Dodgerblue;margin: 10px;">
                            <i class="fas fa-medal"></i>
                          </span>  
                    </div>
                </div>
            </div>

            <div class="right">
                <h2  style="flex: 0.2; margin-top: 22px;font-weight: 200;font-size: 26px;">TOP SKILLS</h2>
                <div class="right_up">
                    
                    <div class="right_up_left">
                        <div class="card" style="padding: 10px;border-radius: 3px;">
                            <h4><%=user.skill1%></h4>
                            <div class="progress_bar"></div>
                        </div>

                        <div class="card" style="padding: 10px;border-radius: 3px;">
                            <h4><%=user.skill2%></h4>
                            <div class="progress_bar"></div>
                            
                        </div>

                        <div class="card" style="padding: 10px;border-radius: 3px;">
                            <h4><%=user.skill3%></h4>
                            <div class="progress_bar"></div>
                            
                        </div>
                    </div>
                    <div class="right_up_right">

                    </div>
                </div>
                <hr>
                <div class="right_down">
                    <h2 style="margin-top: 5px;font-weight: 200;font-size: 22px;">PERSONAL</h2>
                    <div class="right_down_container" style="margin-top: 12px;">
                        <div class="card" style="height: 60px;border-radius: 3px;display: flex;flex-direction: row;">
                            <div style="flex: 4;">
                                <h4><i class="fas fa-thumbtack personal"></i>TRACKS</h4>

                            </div>
                            <div style="margin: 15px 18px;flex: 1;">
                                <a class="edit_profile" style="margin-left:50px" href="/user/add-track">Add</a>
                            </div>
                            <div style="margin: 15px 18px;flex: 1;">
                                <a class="edit_profile" style="margin-left:50px" href="/user/tracks">View</a>
                            </div>
                            
                        </div>
                        <div class="card" style="height: 60px;border-radius: 3px;">
                            <h4><i class="fas fa-clipboard personal"></i>NOTEBOOK</h4>
                        </div>
                        <div class="card" style="height: 60px;border-radius: 3px;">
                            <h4><i class="fas fa-user-friends personal"></i>FRIENDS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>