<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Description</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/description.css">
</head>
<body>

    <!--Navbar code copy paste-->

    <!-- Question ID -->
    <div id="question-id">Question ID: <%=question._id%></div>

    <!--Question Container-->
    <div class="query">
       
        <!-- Question Top -->
        <div class="query-top">
            <span class="query-name"><%=question.title%></span>
            <span class="query-time">Posted by: <%=question.author%></span>
            <span class="query-time">Posted on: <%=question.queryTime%></span>
            <span class="query-votes"> <i class="fas fa-sort-up"></i> <%=question.likes%> Votes <i class="fas fa-sort-down"></i></span>
        </div>
        
        <!-- Question Description -->
        <div class="query-desc">
            <%=question.body%>
        </div>
        
        <!-- Question Tags -->
        <div class="query-tags">
            <%=question.tags%>
        </div>
        <form action="/forum/answer/<%=question._id%>" method="POST">
            <label for="title">Add Answer </label>
            <textarea name="body" id="body" cols="30" rows="2" placeholder="Add answer" required></textarea>
            <button type="submit" class="btn btn-success">Add Answer</button>
        </form>
        <!-- Post Answer Button -->
        <div class="query-ans">
            <a href="answer.html" id="answer-btn">Answer</a>
        </div>
    </div>

    <!-- List of Question Responses -->
    <div class="comment-list">
        <ul>
            <!-- List Item -->
            <% question.comments.forEach(function(comment){%>
                <li>
                    <div class="comment">
                        <!-- Comment Top -->
                        <div class="comment-top">
                            <span class="title">Posted By: <%=comment.author%></span>
                         
                            <!-- <span class="comment-votes"> <button><i class="fas fa-sort-up"></i></button>  Votes <button><i class="fas fa-sort-down"></i></button></span> -->
                        </div>
                        
                        <!-- Comment Description -->
                        <div class="comment-desc">
                            <%=comment.body%>
                        </div>
                    </div>
                </li>
            <%})%>
            

            <!-- List Item -->
            <li>
                <div class="comment">
                    <!-- Comment Top -->
                    <div class="comment-top">
                        <span class="title">Lorem Ipsum</span>
                        <span class="comment-time">xx Minutes</span>
                        <span class="comment-votes"> <button><i class="fas fa-sort-up"></i></button> xx Votes <button><i class="fas fa-sort-down"></i></button></span>
                    </div>
                    
                    <!-- Comment Description -->
                    <div class="comment-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo assumenda amet explicabo praesentium suscipit beatae expedita nobis reprehenderit, aliquid nulla culpa illum veniam placeat non quo, quaerat voluptate, maiores nesciunt!
                    </div>
                </div>
            </li>

            <!-- List Item -->
            <li>
                <div class="comment">
                    <!-- Comment Top -->
                    <div class="comment-top">
                        <span class="title">Lorem Ipsum</span>
                        <span class="comment-time">xx Minutes</span>
                        <span class="comment-votes"> <button><i class="fas fa-sort-up"></i></button> xx Votes <button><i class="fas fa-sort-down"></i></button></span>
                    </div>
                    
                    <!-- Comment Description -->
                    <div class="comment-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo assumenda amet explicabo praesentium suscipit beatae expedita nobis reprehenderit, aliquid nulla culpa illum veniam placeat non quo, quaerat voluptate, maiores nesciunt!
                    </div>
                </div>
            </li>

            
        </ul>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script.js"></script> 
</body>
</html>