<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lobster&family=Poppins:wght@100&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Resource.css">
    <title>resources</title>
  </head>
  <body> 
    <div class="pos">
      <%- include('partials/header') %>
    </div>
    <div class="widt">
   
    </div>
<div class="container"> 
  <form action="/resource" method="GET" class="form-inline" id="biley">
    <div class="form-group">
        <input type="text" name="search" placeholder="Search resource by tags..." class="form-control">
    </div>
</form>
  <a href="/resource/create" class="btn card-link" id="crt">Add Resource</a>
              
    <div class="row">
        <!-- <% resources.forEach(function(resource){%>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="<%=resource.cover%>" alt="Image not available" class="card-img-top-">
            <div class="card-body">
              <h5 class="card-title"><%=resource.title%></h5>
              <p class="card-text"><%=resource.body.substring(0, 20)%>...</p>
              <div class="bottomButtons">
                <a href="#" class="card-link vote"><i class="fas fa-thumbs-up"></i></a>
                <a href="#" class="card-link vote"><i class="fas fa-thumbs-down"></i></a>
                <a href="/resource/view/<%=resource._id%>" class="btn  card-link" id="continue">Continue</a>
              </div>         
              
            </div>
          </div>
        </div>
        <%})%> -->
        <% resources.forEach(function(resource){%>
          <div class="card" style="width: 18rem;">
              <img src="<%=resource.cover%>" alt="Image not available" class="card-img-top-">
              <div class="card-body">
                <h5 class="card-title"><%=resource.title%></h5>
                <p class="card-text"><%=resource.body.substring(0, 20)%>...</p>
                <div class="bottomButtons">
                  <a href="/resource/like/<%=resource._id%>" class="card-link vote"><i class="fas fa-thumbs-up"></i></a><%=resource.likes%>
                  
                  <a href="/resource/view/<%=resource._id%>" class="btn card-link" id="continue">View</a>
              
                </div>         
                
              </div>
            </div>
            <%})%> 
    </div>
    <br><br>
</div>
<br>
<br>
<%- include('partials/footer') %>
  </body>
  <style>
    #crt{
      margin-top: -5vh;
      width: 10vw;
      height: 6vh;
      font-weight: bold;
      text-align: center;
      color:white;
      background-color:rgb(46, 90, 173);
      margin-left: 64vw;
      box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.3); 
    }
    .card-title{
      font-size: 1em;
    }
    .card-link {
    color:black;
    }
    .card-body{
      font-family: 'Cairo', sans-serif;
      font-family: 'Lobster', cursive;
      font-family: 'Poppins', sans-serif;
      font-family: 'Zen Old Mincho', serif;
          }
    #continue{
      margin-left: 8vw;
      color:white;
      font-weight: bold;
      background-color:rgb(46, 90, 173);
      height: 5vh;
    }
    
    .card{
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.3); 
    margin-left:4vw;
    margin-top:5vh;
    height: auto;
    /* overflow: hidden; */
    }
    .container{
      width:80%;
    height: auto;
      box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 10px 80px rgba(0, 0, 0, 0.12);
  }
  #biley .form-group{
    margin-left: 3vw;
    padding-top: 4vh;
  }
  body {
    margin: 0;
  }
  .widt{
      height:25vh;
    }
  .pos{
    position: fixed;
  }
  </style>
</html>