<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track</title>
    <link rel="stylesheet" href="/css/track_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
    <!-- // <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
</head>
<body>

   <div class="body_container">
    <div class="f_track">
        <div class="f1_track">
            <div>
                <h2>My Tracks</h2>
            </div>
            <div style="margin-left: 20px;">
                <button class="special-btn">Add</button>
            </div>
        </div>
    <!-- <div class="first_track">
        <div class="my_track">
            <div class="container">
                <div class="card">
                       <div class="box">
                           <div class="content">
                               <h2>01</h2>
                               <h3>Array</h3>
                               <p>22 resources</p>
                               <a href="#">Get Started</a>
                           </div>
                       </div>
                 </div>
                 
            </div>
             </div>
    </div> -->
    </div>
    <hr>
    <% tracks.forEach(function(track){%>
        <div class="f_track">
            <h2><%=track.title%></h2>
        <div class="first_track">
            <div class="my_track">
                <div class="container">
                    <% for(var i=0; i < track.tracktitle.length; i++) { %>
                        <div class="card">
                            <div class="box">
                                <div class="content">
                                    <h2><%=i%></h2>
                                    <h3><%=track.tracktitle[i]%></h3>
                                    <p><%=track.trackdescription[i]%></p>

                                    <a  onclick="fun(`<%=track.trackresource[i]%>`)" > Get Started</a>
                                </div>
                            </div>
                      </div>
                    <%}%>
                    
                     <!-- <div class="card">
                         <div class="box">
                             <div class="content">
                                 <h2>01</h2>
                                 <h3>Array</h3>
                                 <p>22 resources</p>
                                 <a href="#">Get Started</a>
                             </div>
                         </div>
                   </div> -->
                   <!-- <div class="card">
                           <div class="box">
                               <div class="content">
                                   <h2>01</h2>
                                   <h3>Array</h3>
                                   <p>22 resources</p>
                                   <a href="#">Get Started</a>
                               </div>
                           </div>
                     </div> -->
                     <!-- <div class="card">
                         <div class="box">
                             <div class="content">
                                 <h2>01</h2>
                                 <h3>Array</h3>
                                 <p>22 resources</p>
                                 <a href="#">Get Started</a>
                             </div>
                         </div>
                   </div>  -->
                </div>
                 </div>
        </div>
        </div>
    <%})%>
    
   </div>
    <script>
        function fun(loc){
            window.location = `http://${loc}`;
        }
    </script>

</body>
</html>